
#name-input::placeholder {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 24px/16 */
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 1);
}

#name-output {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33; /* 32px/24 */
}

